# --- Instalacja Torch z CUDA 12.4 (z osobnego indeksu) ---
torch>=2.6.0
torchvision==0.21.0
torchaudio==2.6.0
# Index URL: https://download.pytorch.org/whl/cu124

# Core
numpy>=2.0.2
pandas>=2.2.0
scikit-learn>=1.6.1
tqdm>=4.66.0

# Retrieval
rank-bm25>=0.2.2
sentence-transformers>=5.1.0
sentencepiece>=0.2.0

# Model inference & quantization
transformers>=4.55.0
accelerate>=1.10.0
bitsandbytes>=0.46.1

# Optional loaders / preprocessing
pypdf>=4.0.0
unstructured>=0.14.0
langchain>=0.1.0
langchain_community>=0.3.29
faiss-cpu>= 1.12.0